/* Removing large size menu */
@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
}

/* Name - Logo */
.navbar-logo {
  position: absolute;
}

/* Mobile */
.navbar-mobile {
  bottom: 0;
  position: fixed;
  min-width: 100%;
}

.navbar-links {
  background-color: var(--Light-Gray);
  box-shadow: 0 .5rem 1rem 
            rgba(0,0,0,.15);
  border-radius: .5rem .5rem 0 0;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.navbar-link {
  align-items: center;
  display: flex;
}

.icon-tabler {
  color: #1A6449;
}