/* Removing large size menu */
@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
}

/* Name - Logo */
.navbar-logo {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  margin: 1rem 1.2rem 0 1.2rem;
  position: absolute;
  top: 0;
}

.navbar-logo img {
  width: 40px;
}

/* Mobile */
.navbar-links {
  bottom: 0;
  position: fixed;
  min-width: 100%;
  background-color: var(--Light-Gray);
  box-shadow: 0 .5rem 1rem 
            rgba(0,0,0,.15);
  border-radius: .5rem .5rem 0 0;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.navbar-link {
  align-items: center;
  display: flex;
}

.icon-tabler {
  color: var(--Green);
}