/* Removing large size menu */
@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
}

/* Name - Logo */
.navbar-mobile .navbar-logo {
  align-items: center;
  background-color: #F8F9FA;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  padding: .5rem 1.2rem;
  position: relative;
}

.navbar-logo img {
  width: 40px;
}

/* Mobile */
.navbar-links {
  bottom: 0;
  position: fixed;
  min-width: 100%;
  background-color: #F8F9FA;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: .5rem .5rem 0 0;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.navbar-link {
  align-items: center;
  display: flex;
}

.icon-tabler {
  color: var(--Green);
}